<mat-toolbar fxLayout="row" fxLayoutAlign="space-between" style="width: 100%">
  <app-header></app-header>
  <span style="flex: 1 1 auto"></span>
  <div style="width: 40%; display: flex; justify-content: space-around">
    <a mat-raised-button routerLink="./pages/login">Login</a>
    <a mat-raised-button routerLink="./pages/login">Logout</a>
    <a mat-raised-button routerLink="./pages/register">Register</a>
    <a mat-raised-button routerLink="./pages/list">Starship List</a>
  </div>
</mat-toolbar>
